<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
   <application
       android:allowBackup="true"
       android:icon="@drawable/images1_removebg_preview"
       android:label="Login App"
       android:roundIcon="@drawable/images1_removebg_preview"
       android:supportsRtl="true"
       android:theme="@style/Theme.LoginApp"
       android:usesCleartextTraffic="true"
       tools:targetApi="m">
        <activity
            android:name=".Emaillinklogin"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Login"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Dashboard"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginactivityOtpverificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>